.video-banner {
    width: 100%;
    height: 100vh;

    object-fit: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}
.video-banner video {
    width: 100%;
    height: 100%;
  }
