.video-banner {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
}
.video-banner video {
    width: 100%;
    height: 100%;
  }
