.matching {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 24px;
    font-family: "Gill Sans", sans-serif;
  font-weight: bold;
}
.image{
    height: 70%;
}
h1{
    
    font-size: 38px;
    line-height: 1.5;
    font-weight: bold;
  }