.styled-form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-top: 2rem;
  }
  
  .styled-form select,
  .styled-form input {
    padding: 7px;
    min-height: 30px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(182, 182, 182);
    margin: 0.3rem 0;
  }
  
  .styled-form select:focus,
  .styled-form input:focus {
    border: 2px solid rgb(0, 208, 255);
  }
  
  .styled-form select {
    color: rgb(95, 95, 95);
  }
  
  .styled-create-product {
    display: flex;
    justify-content: space-between;
  }
  
  .image-preview {
    margin: 2rem 0 2rem 2rem;
    padding: 2rem;
    border: 1px solid rgb(183, 183, 183);
    max-width: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(78, 78, 78);
  }
  
  .image-preview img {
    max-width: 100%;
  }
  
  .primary-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .primary-button:hover {
    background-color: #0056b3;
  }
  