.productid {
    display: flex;
    justify-content: space-evenly;
    height: 800px;
    align-content: center;
    padding-top: 3%;

}

.img {
    max-width: 535px;
}

.product-name {
    width: 456px;
}
button{
    background-color: #111;
}